<h3 class="title">Listagem de processos</h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Processo</th>
			<th>Autor</th>
			<th>Recebimento</th>
			<th>Envio</th>
			<th>Valor</th>
			<th><a href="" ng-click="listagem.sort()">Chance</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="processos in listagem.processos | limitTo: listagem.limitPerPage | orderBy: listagem.filterSumValues:listagem.reverse">
			<td>{{ processos.processo }}</td>
			<td>{{ processos.autor }}</td>
			<td>{{ processos.data_recebimento | date: listagem.dateFilter }}</td>
			<td>{{ processos.data_envio | date: listagem.dateFilter }}</td>
			<td>{{ processos.valor }}</td>
			<td>{{ listagem.calcValues(processos) }}</td>
		</tr>
	</tbody>
</table>
