
<div id="wrapper" ng-class="!toggled ? 'toggled' : ''">
      <button type="button" class="navbar-toggle collapsed" ng-click="toggled = !toggled" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> 

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Listagem</a>
        </li>
        <li>
            <a href="#">Formulário</a>
        </li>
    </ul>
  </div>
</div>